<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content, styles)">
<head>

   	<title th:text="${pageTitle} + ' | SpringWriter'">SpringWriter</title>
	<meta name="description" th:content="${pageDescription}">
	<meta th:attr="property='og:title'" th:content="${pageTitle}">
	<meta th:attr="property='og:description'" th:content="${pageDescription}">
	<link rel="canonical" th:href="${currentUrl}">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/qtcreator-light.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
	
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	    <link rel="icon" type="image/x-icon" href="/images/spring-writer-logo.png">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
	<th:block th:replace="${styles}"></th:block>
</head>
<body>

    <header th:replace="~{fragments/header :: header}"></header>

    <main th:replace="${content}"></main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>