<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>

	<header th:fragment="header">
		<div class="header-logo">
			<img alt="Spring Writer logo" src="/images/spring-writer-logo.png" />
			<a th:href="@{/}"><span class="color-green-base">Spring</span>Writer</a>
		</div>

		<nav class="header-nav">
			<a th:href="@{/}">Inicio</a> <a th:href="@{/blog}">Blog</a>	  
			<a sec:authorize="isAuthenticated()" th:href="@{/admin}"> Dashboard</a>
		</nav>
	</header>

</body>
</html>